h1, .h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(8, 11, 179);
    font-size: 52px;
    font-weight: 600;
    /* background-color: rgb(207, 208, 209); */
    
}
body {
    display: inline-flexbox;
    padding-top: 0px;
  }

header{
    /* padding-top: 20px; */
    padding-bottom: 0px; */
}  
.button{
border-radius: 10px;
border:2px solid black;
margin:0px;
padding:0px;
}

.button:focus{
outline: none;
}

.button:hover{
background-color: rgb(23, 190, 231);

}

.hero-section {
    background: url("../Assets/weather-bkgd.png") 50% no-repeat;
    background-size:cover;
    height: 20vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 2px 3px 3px #f5f5f5;
  }
  .menu {
    /* background-color: rgb(204, 204, 178); */
  }
  


  .top-bar{
      /* background-color: rgb(204, 204, 178); */
     
  }

  .card{
    width: 400px;
    margin: 10px 10px;
    padding:20px;
  }
  
  .card-divider {
    font-size: 20px;
    font-weight:bold;
    height: 40px;
    padding: 6px 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    background: #9edce4; }
    .card-divider > :last-child {
      margin-bottom: 0; }
  
  
  
  